<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ InstanceRemainPercentageMapper.xml
  ~ Copyright 2021 Qunhe Tech, all rights reserved.
  ~ Qunhe PROPRIETARY/CONFIDENTIAL, any form of usage is subject to approval.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.biz.mapper.UserMapper">

    <resultMap id="resultMap" type="com.example.biz.data.User">
        <result property="name" jdbcType="VARCHAR" column="name"/>
        <result property="gender" jdbcType="INTEGER" column="gender"/>
        <result property="count" jdbcType="INTEGER" column="count"/>
        <result property="created" jdbcType="TIMESTAMP" column="created"/>
    </resultMap>

    <insert id="insert" parameterType="com.example.biz.data.User">
        insert into user (name, gender, count, created) values (#{name},#{gender},#{count},#{created})
    </insert>

    <select id="selectUser" resultType="com.example.biz.data.User">
        select * from user where name = #{param1} and count = #{param2}
    </select>

    <select id="selectUserMap" resultType="com.example.biz.data.User">
        select * from user where name = #{userName} and count = #{count}
    </select>
    <select id="selectUserParam" resultType="com.example.biz.data.User">
        select * from user where name = #{userName} and count = #{count}
    </select>
</mapper>